{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="{% static 'home.css'%}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
   <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&amp;display=swap" rel="stylesheet">
</head>

<div class="div">
         <div class="topnav">
             {% if not request.user.is_authenticated %}

            <a class="active" href="{% url 'welcome'  %}">Home</a>
            <a href="{%  url 'create_user' %}">Sign Up</a>
             <a href="{%  url 'user_login' %}">Login</a>

                 {% else %}
                  <a class="active" href="{% url 'welcome'  %}">Home</a>
             <a href="{%  url 'user_profile'  %}">Profile</a>
             <a href="{%  url 'user_logout' %}">Logout </a>
                 <a href="{%  url 'scrap'  %}">Scrap</a>

             {% endif %}
         </div>
      </div>
<body>


{% block content %}
{% endblock content %}
</body>


</html>