
<html lang="en">
<head>
    <h1>Welcome</h1>

</head>

<body>
<div class="info">
      <div class="info_h3_div">
         <h3 class="info_h3">
            The Internet’s best source for thousands of movies, TV shows and songs to discover. Explore now.
            <span class="info_h3_span"><h5 style="font-family: 'Roboto Slab', serif; text-transform: uppercase; color: rgb(255, 0, 0);">Join the platform with over 3000 active users!!!</h5></span>
         </h3>
      </div>
      <div class="info_image">


      </div>
   </div>

</body>

</html>