{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="{% static 'home.css'%}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
   <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&amp;display=swap" rel="stylesheet">
</head>

<body>
      <div class="div">
         <div class="topnav">
            <a class="active" href="{% url 'welcome'  %}">Home</a>


          </div>
      </div>
   <div class="info">
      <div class="info_h3_div">
         <h3 class="info_h3">
            Writing articles enable to produce information to potential audience all across the world and is considered important as readers can accurately relate their experience and opinion with content of articles.
            <span class="info_h3_span"><h5 style="font-family: 'Roboto Slab', serif; text-transform: uppercase; color: rgb(255, 0, 0);">Join the platform with over 3000 active users now. Make your topics visible!!!</h5></span>
         </h3>
      </div>
      <div class="info_image">

      </div>
   </div>

</body>


</html>